<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">E-Commerce</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-uppercase">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Contact</a>
        </li>
      </ul>
      <div class="d-flex align-items-center">
        <a href="" class="position-relative mt-2">
          <i class="fa fa-shopping-cart fa-2x me-5 text-dark"></i>
          <span class="cart-no text-white">5</span>
        </a>
        <a href="" class="btn btn-outline-dark me-3 py-2">Login</a>
        <a href="" class="btn btn-outline-dark py-2">Sign Up</a>
      </div>
    </div>
  </div>
</nav>
